﻿
@page
@model Presentation.Web.AspDotNetCore.Client.Pages.ApplyLeaveModel
@using System.Data;

@{
    Layout = "_Dashboard";
}

<style>
    .control-label {
        text-align: left !important;
    }

    .col-md-4 {
        padding-right: 40px;
        padding-left: 0px;
    }
</style>
<div class="page-content">

    <div class="portlet box red-mint">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-note"></i>Apply Leave
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"> </a>
                @*<a href="#portlet-config" data-toggle="modal" class="config"> </a>*@
                <a href="javascript:;" class="reload"> </a>
                <a href="javascript:;" class="remove"> </a>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <!-- BEGIN FORM-->
                            <form action="#" class="form-horizontal">
                                @*<div class="form-actions left">
                                        <button type="button" class="btn default">Cancel</button>
                                        <button type="submit" class="btn blue">
                                            <i class="fa fa-check"></i> Save
                                        </button>
                                    </div>*@
                                <div class="form-body">
                                    <h2 class="margin-bottom-20" style="text-align:center; font-weight:bold">
                                        Recipient : 161 - Shah Md. Ziaur Rahaman
                                    </h2>
                                    @* <h3 class="form-section" style="text-align: center; margin:5px 0;">Recipient : 161 - Shah Md. Ziaur Rahaman</h3>*@
                                    <h3 class="form-section">
                                    </h3>

                                    <div class="form-group">
                                        <label class="col-md-2 control-label ">Leave Type</label>
                                        <div class="col-md-4">
                                            <select class="form-control">
                                                <option value="">Choose..</option>
                                                <option value="">Annual Leave</option>
                                                <option value="">Casual Leave</option>
                                                <option value="">Medical Leave</option>
                                                <option value="">Earned Leave</option>
                                            </select>
                                        </div>

                                        <label class=" col-md-2 control-label ">Current Balance</label>

                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <input type="text" id="lastName" class="form-control" placeholder="Day(s) Remain">

                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" id="lastName" class="form-control" placeholder="Day(s) Parking">

                                                </div>

                                            </div>
                                        </div>

                                        @*<span class="help-block"> Select your gender </span>*@
                                    </div>


                                    <div class="form-group">

                                        <label class="control-label col-md-2">From Date</label>
                                        <div class="col-md-4">
                                            <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                                        </div>
                                        <label class="control-label col-md-2">To Date</label>
                                        <div class="col-md-4">
                                            <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                                        </div>
                                    </div>




                                    <div class="form-group">
                                        <label class="col-md-2 control-label ">Apply Day</label>
                                        <div class="col-md-4">
                                            <input type="text" id="firstName" class="form-control" placeholder="Apply Day(s)">
                                        </div>

                                        <label class="col-md-2 control-label ">Adjustment Leave</label>
                                        <div class="col-md-4">
                                            <select class="form-control">
                                                <option value="">Choose..</option>
                                                <option value="">Annual Leave</option>
                                                <option value="">Casual Leave</option>
                                                <option value="">Medical Leave</option>
                                                <option value="">Earned Leave</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">Max. Day(s) for Adjustment</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" placeholder="0.00">
                                        </div>
                                        <label class="control-label col-md-2">Reasons*</label>
                                        <div class="col-md-4">
                                            <textarea class="form-control" placeholder="Types Reasons">
                                </textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">Department</label>
                                        <div class="col-md-4">
                                            <select class="form-control">
                                                <option value="">Choose..</option>
                                                <option value="DEP001">Accounts & Finance</option>
                                                <option value="DEP007">Corporate Affairs & Communication</option>
                                                <option value="DEP013">Field Marketing</option>
                                                <option value="DEP016">Finance</option>
                                                <option value="DEP017">General Management</option>
                                                <option value="DEP024">Integration</option>
                                                <option value="DEP026">Legal</option>
                                                <option value="DEP029">Marketing</option>
                                            </select>
                                        </div>

                                        <label class="control-label col-md-2">
                                            Delegate
                                        </label>
                                        <div class="col-md-4">
                                            <select class="form-control">
                                                <option value="">Choose..</option>
                                                <option value="17691">100800 - Md Nahid Akter</option>
                                                <option value="17693">127218 - Md Kawsar Alam</option>
                                                <option value="17915">288805 - Md Raihan Hossain</option>
                                                <option value="17853">423349 - Md Sakib Sarkar</option>
                                                <option value="17869">423807 - Anika Azam</option>
                                                <option value="17713">424473 - Sejuti Devi</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-10 col-md-2">
                                            <input type="checkbox" class="form-control checkbox" />Apply LFA
                                        </div>
                                    </div>
                                    <h3 class="form-section">
                                        Destination
                                    </h3>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Country</label>
                                        <div class="col-md-4">
                                            <select class="form-control">

                                                <option value="5">Bangladesh</option>
                                                <option value="6">ALGERIA</option>
                                                <option value="7">AMERICAN SAMOA</option>
                                                <option value="8">ANDORRA</option>
                                                <option value="9">ANGOLA</option>
                                                <option value="183">ANGUILLA</option>
                                                <option value="11">ARGENTINA</option>
                                                <option value="17">ARMENIA</option>
                                                <option value="152">ARUBA</option>
                                                <option value="12">AUSTRALIA</option>
                                                <option value="13">AUSTRIA</option>
                                                <option value="10">AZERBAIJAN</option>
                                                <option value="14">BAHAMAS</option>
                                                <option value="15">BAHRAIN</option>
                                                <option value="16">BANGLADESH</option>
                                                <option value="18">BARBADOS</option>
                                                <option value="35">BELARUS</option>
                                                <option value="19">BELGIUM</option>
                                            </select>
                                        </div>

                                        <label class="control-label col-md-2">Division/ State</label>
                                        <div class="col-md-4">
                                            <select class="form-control">
                                                <option value="">DHAKA</option>
                                                <option value="194">BARISAL</option>
                                                <option value="193">CHITTAGONG</option>

                                                <option value="195">KHULNA</option>
                                                <option value="177930">MYMENSINGH</option>
                                                <option value="196">RAJSHAHI</option>
                                                <option value="198">RANGPUR</option>
                                                <option value="197">SYLHET</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">District</label>
                                        <div class="col-md-4">
                                            <select class="form-control">
                                                <option value="">Dhaka</option>
                                                <option value="194">Faridpur</option>
                                                <option value="193">Gazipur</option>

                                                <option value="195">Gopalganj</option>
                                                <option value="177930">Jamalpur</option>
                                                <option value="196">Kishoreganj</option>

                                            </select>
                                        </div>

                                        <label class="control-label col-md-2">Address*</label>
                                        <div class="col-md-4">
                                            <textarea class="form-control" placeholder="Types Destination Address">
                                </textarea>
                                        </div>

                                    </div>
                                    <h3 class="form-section">
                                        Attach Reference File
                                    </h3>
                                    @*                                    <h4 class="form-section" style="margin:5px 0;"> Attach Reference File</h4>*@

                                    <div class="form-group">
                                        <label class="control-label col-md-2">Attachment</label>
                                        <div class="col-md-4">
                                            <input type="file" class="form-control" id="exampleInputFile1">
                                        </div>
                                        <label class="control-label col-md-2">Refference Type</label>
                                        <div class="col-md-4">
                                            <select class="form-control">
                                                <option value="">Medical</option>

                                            </select>
                                        </div>
                                    </div>




                                </div>
                                <div class="form-actions right">
                                    <button type="button" class="btn default">Cancel</button>
                                    <button type="submit" class="btn red-mint">
                                        <i class="fa fa-check"></i> Save
                                    </button>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

@*<h1>Apply Leave</h1>
    <p>@ViewData.Eval("loggedInName")</p>


    <form>
        <input type="text" asp-for="@Model.Address" />
        <input type="submit" asp-page-handler="GetRdlcReport" value="Submit" />
    </form>


    <table class="table">

        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Code</th>
                <th>Depatment</th>
                <th>Employee ID</th>
            </tr>

        </thead>
        <tbody>


            @foreach (DataRow item in Model.userDS.Users.Rows)
            {
                <tr>
                    <td>@item["EmployeeName"]</td>
                    <td>@item["EmployeeCode"]</td>
                    <td>@item["DepartmentName"]</td>
                    <td>@item["EmployeeID"]</td>
                </tr>
            }

        </tbody>

    </table>

    <select id="ddlCountry" asp-for="@Model.CountryId" asp-items="@(new SelectList(@Model.countryDS.Countries,"Countryid", "Name"))" class="form-control">
        <option value="" selected>Choose...</option>
    </select>

    <select id="ddlDivision" asp-for="@Model.DivisionId" asp-items="@(new SelectList(@Model.divisionLs.Division,"Divisionid", "Divisionname"))" class="form-control">
        <option value="" selected>Choose...</option>
    </select>



    @section Scripts{

        <script type="text/javascript">
            $(function () {
                $('button[data-toggle="ajax-modal"]').click(function (event) {
                    alert('button clicked');
                });
                $('#ddlCountry').change(function () {

                    var _text = $("#ddlCountry option:selected").text();

                    $.ajax({
                        type: "GET",
                        url: "/ApplyLeave?handler=DivisionForAssignLeaveByCountryName",
                        data: { countryName: _text },
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("XSRF-TOKEN",
                                $('input:hidden[name="__RequestVerificationToken"]').val());
                        },
                        success: function (data) {
                            items = [];

                            var j = jQuery.parseJSON(data);

                            console.log(j.length);
                            var options;
                            for (var i = 0; i < j.length; i++) {
                                options += '<option value="' + j[i].optionValue + '">' + j[i].optionDisplay + '</option>'
                            }
                            $('#ddlDivision').html(options);




                        },
                        error: function (req, status, error) {
                            console.log(error);
                        }
                        //error: function (e) {
                        //    console.log("ERROR : ", e);
                        //},
                        //failure: function (response) {
                        //    //alert(response);
                        //    console.log(response);
                        //}
                    });
                });
            });

        </script>



    }*@










