﻿@page
@model Presentation.Web.AspDotNetCore.Client.ChangePasswordModel
@{
    Layout = "_Dashboard";
}
<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box red-mint">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-key"></i>Change Password
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="javascript:;" class="reload"> </a>
                        <a href="javascript:;" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-body">
                                    <!-- BEGIN FORM-->
                                    <form method="post" class="form-horizontal">
                                        <div class="form-body">
                                            <div class="form-group">
                                                <label class="col-md-offset-2 col-md-3 control-label">Current Password</label>
                                                <div class="col-md-4">
                                                    <input type="password" class="form-control" placeholder="Current Password">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-offset-2 col-md-3 control-label">New Password</label>
                                                <div class="col-md-4">
                                                    <input type="password" class="form-control" placeholder="New Password">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-offset-2 col-md-3 control-label">Re-type New Password</label>
                                                <div class="col-md-4">
                                                    <input type="password" class="form-control" placeholder="Re-type New Password">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions right">
                                            <a class="btn default" asp-page="/dashboard">Cancel</a>
                                            <a class="btn red-mint" asp-page="/dashboard">
                                                <i class="fa fa-check"></i> Change Password
                                            </a>
                                        </div>

                                    </form>
                                    <!-- END FORM-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>