﻿@page
@model Presentation.Web.AspDotNetCore.Client.EditPersonalInformationModel
@{
    Layout = "_Dashboard";
}
<style>
    .control-label {
        text-align: left !important;
    }

    .col-md-4 {
        padding-right: 40px;
        padding-left: 0px;
    }
</style>
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box red-mint">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-user"></i>Personal Information
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="javascript:;" class="reload"> </a>
                        <a href="javascript:;" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-body">
                                    <!-- BEGIN FORM-->
                                    <form method="post" class="form-horizontal">
                                        <div class="form-body">
                                            <h2 class="margin-bottom-20" style="text-align:center; font-weight:bold">
                                                6103 - Nesar Uddin
                                                <span style="text-align:center; font-size:14px ;font-weight:lighter; display:block">Senior Officer</span>
                                                <span style="text-align:center; font-size:14px ;font-weight:lighter; display:block">Corporate Office</span>
                                            </h2>
                                            <h3 class="form-section">
                                                General Information
                                            </h3>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Nick Name</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" value="Nesar Uddin">
                                                </div>

                                                <label class="col-md-2 control-label">Name(In Native Lang.)</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" placeholder="In Native Language">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Gender</label>
                                                <div class="col-md-4">
                                                    <select class="form-control" disabled>
                                                        <option value="">Male</option>
                                                        <option value="">Female</option>

                                                    </select>
                                                </div>

                                                <label class="col-md-2 control-label">Religion</label>
                                                <div class="col-md-4">
                                                    <select class="form-control" disabled>
                                                        <option value="">Islam</option>
                                                        <option value="">Hindu</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Blood Group</label>
                                                <div class="col-md-4">
                                                    <select class="form-control" disabled>
                                                        <option value="">O+</option>
                                                        <option value="">A+</option>
                                                    </select>
                                                </div>

                                                <label class="col-md-2 control-label">Marital Status</label>
                                                <div class="col-md-4">
                                                    <select class="form-control">
                                                        <option value="">Single</option>
                                                        <option value="">Married</option>
                                                        <option value="">Divorce</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Passport No.</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control">
                                                </div>

                                                <label class="col-md-2 control-label">National ID</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" value="3463233534656">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Account</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>

                                            <h3 class="form-section">
                                                Family Information
                                            </h3>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Father's Name</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" value="Nesar Uddin" disabled>
                                                </div>

                                                <label class="col-md-2 control-label">Mother's Name</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" value="Mrs. Keya" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Father's Occupation</label>
                                                <div class="col-md-4">
                                                    <select class="form-control">
                                                        <option value="">Farmer</option>
                                                        <option value="">Doctor</option>
                                                        <option value="">Service Holder</option>
                                                    </select>
                                                </div>

                                                <label class="col-md-2 control-label">Mother's Occupation</label>
                                                <div class="col-md-4">
                                                    <select class="form-control">
                                                        <option value="">Housewife</option>
                                                        <option value="">Doctor</option>
                                                        <option value="">Service Holder</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Father's NID</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control">
                                                </div>

                                                <label class="col-md-2 control-label">Mother's NID</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" value="3463233534656">
                                                </div>
                                            </div>
                                            <h3 class="form-section">
                                                Contact Information
                                            </h3>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Country</label>
                                                <div class="col-md-4">
                                                    <select class="form-control">
                                                        <option value="">Select Country</option>
                                                        <option value="">Bangladesh</option>
                                                        <option value="">Russia</option>
                                                        <option value="">USA</option>

                                                    </select>
                                                </div>

                                                <label class="col-md-2 control-label">Division</label>
                                                <div class="col-md-4">
                                                    <select class="form-control">
                                                        <option value="">Select Division</option>
                                                        <option value="">Dhaka</option>
                                                        <option value="">Khulna</option>
                                                        <option value="">Ex-country</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">District</label>
                                                <div class="col-md-4">
                                                    <select class="form-control">
                                                        <option value="">Select District</option>
                                                        <option value="">Dhaka</option>
                                                        <option value="">Savar</option>
                                                    </select>
                                                </div>

                                                <label class="col-md-2 control-label">Thana</label>
                                                <div class="col-md-4">
                                                    <select class="form-control">
                                                        <option value="">Select Thana</option>
                                                        <option value="">Dhanmondi</option>
                                                        <option value="">Uttara</option>
                                                        <option value="">Ex-country</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Present Address</label>
                                                <div class="col-md-4">
                                                    <textarea class="form-control"></textarea>
                                                </div>

                                                <label class="col-md-2 control-label">Telephone</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <h3 class="form-section">
                                                Image & Signature Upload
                                            </h3>
                                            <div class="form-group">
                                                <label class="control-label col-md-2">Photo (max 100kb)</label>
                                                <div class="col-md-4">
                                                    <input type="file" class="form-control" id="exampleInputFile1">
                                                </div>
                                                <label class="control-label col-md-2">Signature(max 50kb)</label>
                                                <div class="col-md-4">
                                                    <input type="file" class="form-control" id="exampleInputFile1">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-actions right">
                                            <a class="btn default" asp-page="/dashboard">Cancel</a>
                                            <a class="btn red-mint" asp-page="/Success">
                                                <i class="fa fa-check"></i> Save
                                            </a>
                                        </div>
                                    </form>
                                    <!-- END FORM-->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
