﻿@page
@model Presentation.Web.AspDotNetCore.Client.Pages.EmployeesModel
@{
}


@{
    Layout = "_Dashboard";
}


<!-- BEGIN CONTENT BODY -->
<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <!--<div class="page-head">
        <!-- BEGIN PAGE TITLE -->
        <!--<div class="page-title">
            <h1>
                Employee 
            </h1>
        </div>-->
        <!-- END PAGE TITLE -->
        <!-- BEGIN PAGE TOOLBAR -->
        <!--<div class="page-toolbar">-->
            <!-- BEGIN THEME PANEL -->
            <!--@*<div class="btn-group btn-theme-panel">
                    <a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-settings">
                        </i>
                    </a>
                    <div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <h3>
                                    THEME
                                </h3>
                                <ul class="theme-colors">
                                    <li class="theme-color theme-color-default" data-theme="default">
                                        <span class="theme-color-view">
                                        </span><span class="theme-color-name">Dark Header</span>
                                    </li>
                                    <li class="theme-color theme-color-light active" data-theme="light">
                                        <span class="theme-color-view">
                                        </span><span class="theme-color-name">Light Header</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-12 seperator">
                                <h3>
                                    LAYOUT
                                </h3>
                                <ul class="theme-settings">
                                    <li>
                                        Theme Style
                                        <select class="layout-style-option form-control input-small input-sm">
                                            <option value="square">Square corners</option>
                                            <option value="rounded" selected="selected">Rounded corners</option>
                                        </select>
                                    </li>
                                    <li>
                                        Layout
                                        <select class="layout-option form-control input-small input-sm">
                                            <option value="fluid" selected="selected">Fluid</option>
                                            <option value="boxed">Boxed</option>
                                        </select>
                                    </li>
                                    <li>
                                        Header
                                        <select class="page-header-option form-control input-small input-sm">
                                            <option value="fixed" selected="selected">Fixed</option>
                                            <option value="default">Default</option>
                                        </select>
                                    </li>
                                    <li>
                                        Top Dropdowns
                                        <select class="page-header-top-dropdown-style-option form-control input-small input-sm">
                                            <option value="light">Light</option>
                                            <option value="dark" selected="selected">Dark</option>
                                        </select>
                                    </li>
                                    <li>
                                        Sidebar Mode
                                        <select class="sidebar-option form-control input-small input-sm">
                                            <option value="fixed">Fixed</option>
                                            <option value="default" selected="selected">Default</option>
                                        </select>
                                    </li>
                                    <li>
                                        Sidebar Menu
                                        <select class="sidebar-menu-option form-control input-small input-sm">
                                            <option value="accordion" selected="selected">Accordion</option>
                                            <option value="hover">Hover</option>
                                        </select>
                                    </li>
                                    <li>
                                        Sidebar Position
                                        <select class="sidebar-pos-option form-control input-small input-sm">
                                            <option value="left" selected="selected">Left</option>
                                            <option value="right">Right</option>
                                        </select>
                                    </li>
                                    <li>
                                        Footer
                                        <select class="page-footer-option form-control input-small input-sm">
                                            <option value="fixed">Fixed</option>
                                            <option value="default" selected="selected">Default</option>
                                        </select>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>*@-->
            <!-- END THEME PANEL -->
        <!--</div>-->
        <!-- END PAGE TOOLBAR -->
    <!--</div>-->



    <div class="row">

        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Employees
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    @*<a href="#portlet-config" data-toggle="modal" class="config"> </a>*@
                    <a href="javascript:;" class="reload"> </a>
                    <a href="javascript:;" class="remove"> </a>
                </div>
            </div>
            

            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        @*<div class="col-md-6">
                            <div class="btn-group">
                                <button id="sample_editable_1_new" class="btn sbold green">
                                    Add New
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>*@
                        @*<div class="col-md-6">
                            <div class="btn-group pull-right">
                                <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">
                                    Tools
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-print"></i> Print
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-file-pdf-o"></i> Save as PDF
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="fa fa-file-excel-o"></i> Export to Excel
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>*@
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                            </th>
                            <th> Code </th>
                            <th> Name </th>
                            <th> Designation </th>
                            <th> Department </th>
                            <th> Site/Branch </th>
                            <th> Joining Date </th>
                            <th> Functional Liability </th>
                            <th> Shelf Directory </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX">
                            <td>
                                <input type="checkbox" class="checkboxes" value="1" />
                            </td>
                            <td>
                                1001
                            </td>
                            <td>sadman</td>
                            <td>Senior Officer</td>
                            <td>Finance &amp; Accounts Division</td>
                            <td>Corporate Head Office </td>
                            <td>25/May/2011</td>
                            <td>Default</td>
                            <td>Shelf</td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>
                                <input type="checkbox" class="checkboxes" value="1" />
                            </td>
                            <td>1002</td>
                            <td>amir khan</td>
                            <td>Officer - Accounts</td>
                            <td>Finance &amp; Accounts Division</td>
                            <td>Corporate Head Office </td>
                            <td>01/Apr/2020</td>
                            <td>Default</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>
                                <input type="checkbox" class="checkboxes" value="1" />
                            </td>
                            <td>1003</td>
                            <td>Ahasan Karim</td>
                            <td>Managing Director &amp; CEO</td>
                            <td>Finance &amp; Accounts Division</td>
                            <td>Corporate Head Office </td>
                            <td>08/Jan/2020</td>
                            <td>Default</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>
                                <input type="checkbox" class="checkboxes" value="1" />
                            </td>
                            <td>1004</td>
                            <td>Md. Hafizur Rahman</td>
                            <td>Senior Officer</td>
                            <td>IT</td>
                            <td>Principle Office</td>
                            <td>20/Jan/2020</td>
                            <td>Default</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>
                                <input type="checkbox" class="checkboxes" value="1" />
                            </td>
                            <td>1005</td>
                            <td>Md Masum</td>
                            <td>Officer</td>
                            <td>Finance &amp; Accounts Division</td>
                            <td>Corporate Head Office </td>
                            <td>05/Jan/2020</td>
                            <td>Default</td>
                            <td>&nbsp;</td>
                        </tr>
                        @*<tr class="odd gradeX">
                            <td>
                                <input type="checkbox" class="checkboxes" value="1" />
                            </td>
                            <td> foopl </td>
                            <td>
                                <a href="mailto:userwow@gmail.com"> good@gmail.com </a>
                            </td>
                            <td> 20 </td>
                            <td class="center"> 19.11.2010 </td>
                            <td>
                                <span class="label label-sm label-success"> Approved </span>
                            </td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>
                                <input type="checkbox" class="checkboxes" value="1" />
                            </td>
                            <td> weep </td>
                            <td>
                                <a href="mailto:userwow@gmail.com"> good@gmail.com </a>
                            </td>
                            <td> 20 </td>
                            <td class="center"> 19.11.2010 </td>
                            <td>
                                <span class="label label-sm label-success"> Approved </span>
                            </td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>
                                <input type="checkbox" class="checkboxes" value="1" />
                            </td>
                            <td> coop </td>
                            <td>
                                <a href="mailto:userwow@gmail.com"> good@gmail.com </a>
                            </td>
                            <td> 20 </td>
                            <td class="center"> 19.11.2010 </td>
                            <td>
                                <span class="label label-sm label-success"> Approved </span>
                            </td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>
                                <input type="checkbox" class="checkboxes" value="1" />
                            </td>
                            <td> pppol </td>
                            <td>
                                <a href="mailto:userwow@gmail.com"> good@gmail.com </a>
                            </td>
                            <td> 20 </td>
                            <td class="center"> 19.11.2010 </td>
                            <td>
                                <span class="label label-sm label-success"> Approved </span>
                            </td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>
                                <input type="checkbox" class="checkboxes" value="1" />
                            </td>
                            <td> test </td>
                            <td>
                                <a href="mailto:userwow@gmail.com"> good@gmail.com </a>
                            </td>
                            <td> 20 </td>
                            <td class="center"> 19.11.2010 </td>
                            <td>
                                <span class="label label-sm label-success"> Approved </span>
                            </td>
                        </tr>
                        <tr class="odd gradeX">
                            <td>
                                <input type="checkbox" class="checkboxes" value="1" />
                            </td>
                            <td> userwow </td>
                            <td>
                                <a href="mailto:userwow@gmail.com"> userwow@gmail.com </a>
                            </td>
                            <td> 20 </td>
                            <td class="center"> 12.12.2012 </td>
                            <td>
                                <span class="label label-sm label-default"> Blocked </span>
                            </td>
                        </tr>
                

                        <tr class="odd gradeX">
                            <td>
                                <input type="checkbox" class="checkboxes" value="1" />
                            </td>
                            <td> weep </td>
                            <td>
                                <a href="mailto:userwow@gmail.com"> good@gmail.com </a>
                            </td>
                            <td> 20 </td>
                            <td class="center"> 15.11.2011 </td>
                            <td>
                                <span class="label label-sm label-success"> Approved </span>
                            </td>
                        </tr>*@
                    </tbody>
                </table>
                <div class="row"><div class="col-md-5 col-sm-5">
                    <div class="dataTables_info" id="sample_1_info" role="status" aria-live="polite">Showing 1 to 5 of 25 records</div></div>
                <div class="col-md-7 col-sm-7"><div class="dataTables_paginate paging_bootstrap_full_number" id="sample_1_paginate">
                    <ul class="pagination" style="visibility: visible;"><li class="prev disabled"><a href="#" title="First">
                        <i class="fa fa-angle-double-left"></i></a></li><li class="prev disabled"><a href="#" title="Prev">
                        <i class="fa fa-angle-left"></i></a></li><li class="active"><a href="#">1</a></li><li>
                        <a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">5</a></li>
                    <li class="next"><a href="#" title="Next"><i class="fa fa-angle-right"></i></a></li><li class="next">
                        <a href="#" title="Last"><i class="fa fa-angle-double-right"></i></a></li></ul></div></div></div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>

    <!-- END PAGE HEAD-->
    <!-- BEGIN PAGE BREADCRUMB -->
    @*<ul class="page-breadcrumb breadcrumb">
            <li><a href="index.html">Home</a> <i class="fa fa-circle"></i></li>
            <li><span class="active">Dashboard</span> </li>
        </ul>*@
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN PAGE BASE CONTENT -->
    <!-- BEGIN DASHBOARD STATS 1-->




    <!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->