﻿@page
@model Presentation.Web.AspDotNetCore.Client.LeaveReportModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "_Dashboard";
}
<style>
    .control-label {
        text-align:left !important;
    }
    .col-md-4{
        padding-right:40px;
        padding-left:0px;
    }
</style>
<div class="page-content">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box red-mint">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-printer"></i>Leave Report
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="javascript:;" class="reload"> </a>
                        <a href="javascript:;" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-body">
                                    <form method="post" class="form-horizontal">
                                        <div class="form-body">
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Code</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" placeholder="Employee Code">
                                                </div>

                                                <label class="col-md-2 control-label">Name</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Site/ Branch</label>
                                                <div class="col-md-4">
                                                    <select class="form-control">
                                                        <option value="">Select Site/ Branch</option>
                                                        <option value="">Banani Office</option>
                                                        <option value="">Corporate Office</option>

                                                    </select>
                                                </div>

                                                <label class="col-md-2 control-label">Company Division</label>
                                                <div class="col-md-4">
                                                    <select class="form-control">
                                                        <option value="">Select Company Division</option>
                                                        <option value="">IT</option>
                                                        <option value="">Marketing</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Department</label>
                                                <div class="col-md-4">
                                                    <select class="form-control">
                                                        <option value="">Select Department</option>
                                                        <option value="">Legal</option>
                                                        <option value="">Managment</option>

                                                    </select>
                                                </div>

                                                <label class="col-md-2 control-label">Designation</label>
                                                <div class="col-md-4">
                                                    <select class="form-control">
                                                        <option value="">Select Designation</option>
                                                        <option value="">Junior Officer</option>
                                                        <option value="">Senior Officer</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Function</label>
                                                <div class="col-md-4">
                                                    <select class="form-control">
                                                        <option value="">Select Function</option>
                                                        <option value="">management</option>

                                                    </select>
                                                </div>

                                                <label class="col-md-2 control-label">Functional Liability</label>
                                                <div class="col-md-4">
                                                    <select class="form-control">
                                                        <option value="">Select Functional Liability</option>
                                                        <option value="">Corporate Office</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Job Status</label>
                                                <div class="col-md-4">
                                                    <select class="form-control">
                                                        <option value="">Permanent</option>
                                                        <option value="">Contractual</option>

                                                    </select>
                                                </div>

                                                <label class="col-md-2 control-label">Sorting By</label>
                                                <div class="col-md-4">
                                                    <select class="form-control">
                                                        <option value="">Employee ID</option>
                                                        <option value="">Designation ID</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="col-md-12 text-center">
                                                <a class="btn blue" asp-page="/dashboard">
                                                    <i class="fa fa-search"></i> Search
                                                </a>
                                            </div>*@

                                        @*<div class="form-actions right">
                                                <a class="btn default" asp-page="/dashboard">Cancel</a>
                                                <a class="btn blue" asp-page="/dashboard">
                                                    <i class="fa fa-check"></i> Search
                                                </a>
                                            </div>*@

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">
                                <div class="panel-body">
                                    <form method="post" class="form-horizontal" asp-page-handler="RdlcReport">
                                        <div class="form-body">

                                            <div class="form-group">
                                                <label class="col-md-2 control-label control-label">Fiscal Year</label>
                                                <div class="col-md-4">
                                                    <select class="form-control">
                                                        <option value="">Jan-2020</option>
                                                        <option value="">Jan-2019</option>

                                                    </select>
                                                </div>

                                                <label class="col-md-2 control-label">Leave Type</label>
                                                <div class="col-md-4">
                                                    <select class="form-control">
                                                        <option value="">All leave type</option>
                                                        <option value="">Sick leave</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label control-label">Date from</label>
                                                <div class="col-md-4">
                                                    <input type="date" class="form-control" />
                                                </div>

                                                <label class="col-md-2 control-label">To</label>
                                                <div class="col-md-4">
                                                    <input type="date" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Leave Status</label>
                                                <div class="col-md-4">
                                                    <input type="checkbox" id="checkMail" class="form-control">
                                                    <label class="control-label" for="checkMail">Pending Approval</label>
                                                </div>

                                                <div class="col-md-2 text-right">
                                                    <input type="checkbox" id="Approved" class="form-control">
                                                    <label class="control-label" for="Approved">Approved</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="checkbox" id="Country" class="form-control">
                                                    <label class="control-label" for="Country">
                                                        Only Ex-Country Leave
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-2 control-label control-label"></label>
                                                <div class="col-md-4">
                                                    <input type="checkbox" id="Exclude" class="form-control">
                                                    <label class="control-label" for="Exclude">Exclude Non-Countable Leave</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions text-center">

                                            @*  <button class="btn btn-success">Show Report</button>*@

                                            <button class="btn red-mint">
                                                <i class="fa fa-clipboard"></i> Show Report
                                            </button>
                                            <button class="btn red-mint">
                                                <i class="fa fa-file-excel-o"></i> Export To Excel
                                            </button>
                                        </div>

                                        @*<div class="form-actions right">
                                                <a class="btn default" asp-page="/dashboard">Cancel</a>
                                                <a class="btn blue" asp-page="/dashboard">
                                                    <i class="fa fa-check"></i> Search
                                                </a>
                                            </div>*@

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- END FORM-->
                </div>
            </div>
        </div>


        @*<div class="col-md-12">
            @foreach (var emp in Model.empDS.Employees)
            {
                <div class="card">
                    <div class="card-header">
                        Show report for : @emp.EmployeeName
                    </div>
                    <div class="card-body">
                        <form asp-page-handler="RdlcReport" method="post">
                            <button class="btn btn-success">Show Report</button>
                        </form>
                        @*<input type="submit" asp-page-handler="RdlcReport" value="Show Report" />*@

        @*</div>

                    </div>
                }
            </div>*@
    </div>
</div>

