﻿@page
@model Presentation.Web.AspDotNetCore.Client.PersonalInformationModel
@{
    Layout = "_Dashboard";
}
<div class="page-content">
    <!-- BEGIN PAGE HEAD-->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box red-mint">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-gift"></i>Personal Information
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse"> </a>
                        <a href="javascript:;" class="reload"> </a>
                        <a href="javascript:;" class="remove"> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form class="form-horizontal" role="form">
                        <div class="form-body">
                            <h2 class="margin-bottom-20" style="text-align:center; color:#32c5d2; font-weight:bold">
                                6103 - Nesar Uddin
                                <span style="text-align:center; color:#32c5d2; font-size:14px ;font-weight:lighter; display:block">Senior Officer</span>
                                <span style="text-align:center; color:#32c5d2; font-size:14px ;font-weight:lighter; display:block">Corporate Office</span>
                            </h2>
                            <h3 class="form-section">General Information</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Nick Name:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static"> Nesar </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Name(In Native Lang.):</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static"> </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <!--/row-->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Gender:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static"> Male </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Religion:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static"> Islam </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <!--/row-->
                                <!--/row-->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Blood Group:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static"> A+ </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Marital Status:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static"> Married </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <!--/row-->
                                <!--/row-->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Passport No.:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static"> Male </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">National ID:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static"> 3323019456414 </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <!--/row-->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Account:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static"> 2160202539401 </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    @*<div class="form-group">
                    <label class="control-label col-md-4">Membership:</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> Free </p>
                    </div>
                </div>*@
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <h3 class="form-section">Birth Information</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Date Of Birth:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static"> 10-Oct-1981 </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Nationality:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static"> Bangladeshi </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Country:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static"> BANGLADESH </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Place Of Birth:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">  </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->

                            </div>
                            <h3 class="form-section">Family Information</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Father's Name:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static"> Late. Roushan Ali </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Mother's Name:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static"> Late. Rehena Khatun </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <!--/row-->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Father's Occupation:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static"> Farmer </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Mother's Occupation:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static"> Housewife </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <!--/row-->
                                <!--/row-->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Father's NID:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static"> 2034344545 </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Mother's NID:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static"> 345346464 </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <!--/row-->
                                <!--/row-->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Telephone:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static"> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-4">Parent Address:</label>
                                        <div class="col-md-8">
                                            <p class="form-control-static">  </p>
                                        </div>
                                    </div>
                                </div>
                                <!--/span-->
                                <!--/row-->

                                </div>
                                <!--/span-->
                        </div>
                        <div class="form-actions right">
                            <a class="btn default" asp-page="/dashboard">Cancel</a>
                            <a  class="btn red-mint" asp-page="/EditPersonalInformation">
                                <i class="fa fa-pencil"></i> Save
                            </a>
                        </div>       
                    </form>
                <!-- END FORM-->
                </div>
            </div>

        </div>
    </div>
</div>

