﻿@page
@model Presentation.Web.AspDotNetCore.Client.SuccessModel
@{
    ViewData["Title"] = "Success";
}

@{
    Layout = "_Dashboard";
}
<div class="page-content">
    <div class="row text-center">
        <div class="col-md-12">
            <br><br> <h2 style="color:#0fad00">Success</h2>
            @*<img src="http://osmhotels.com//assets/check-true.jpg">*@
            <h3>Dear, Nesar </h3>
            <p style="font-size:20px;color:#5C5C5C;">
                Thank you for your reuest
            </p>
            @*<a asp-page="/dashboard" class="btn btn-success">Go to home page</a>
            <br><br>*@
        </div>

    </div>
</div>

